sap.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://promon-homolog.artit.com.br:8082/web-service/coletores-custos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="WebServiceSapService" targetNamespace="http://promon-homolog.artit.com.br:8082/web-service/coletores-custos">
    <types>
        <xsd:schema targetNamespace="http://promon-homolog.artit.com.br:8082/web-service/coletores-custos">
            <xsd:element name="coletoresCustos">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coletorCusto" type="tns:coletorCusto" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="coletorCusto">
                <xsd:sequence>
                    <xsd:element name="coletor_custo" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="ordem_interna" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="elemento_pep" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="tipo" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="descricao" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="email_gestor" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="situacao" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="excluido" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="coletoresCustosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coletoresCustosResult" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="WebServiceSapServicePort">
        <operation name="coletoresCustos">
            <documentation>Serviço para receber coletores de custos do SAP</documentation>
            <input message="tns:coletoresCustosIn"/>
            <output message="tns:coletoresCustosOut"/>
        </operation>
    </portType>
    <binding name="WebServiceSapServiceBinding" type="tns:WebServiceSapServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="coletoresCustos">
            <soap:operation soapAction="http://promon-homolog.artit.com.br:8082/web-service/coletores-custos#coletoresCustos"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WebServiceSapServiceService">
        <port name="WebServiceSapServicePort" binding="tns:WebServiceSapServiceBinding">
            <soap:address location="http://promon-homolog.artit.com.br:8082/web-service/coletores-custos"/>
        </port>
    </service>
    <message name="coletoresCustosIn">
        <part name="parameters" element="tns:coletoresCustos"/>
    </message>
    <message name="coletoresCustosOut">
        <part name="parameters" element="tns:coletoresCustosResponse"/>
    </message>
</definitions>